@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-prussian_blue text-dusk_blue-700;
    }

    blockquote {
        @apply border-l-2 border-space_indigo pl-8 italic;
    }
    strong {
        @apply pb-1 border-b border-dusk_blue font-semibold;
    }
}

@layer components {
    .wrapper {
        @apply md:grid grid-cols-3 flex-1;
        @apply md:overflow-auto md:h-screen;
    }
    .wrapper main {
        @apply col-span-2 divide-y divide-space_indigo;
    }
    .wrapper aside {
        @apply hidden md:block col-span-1 px-12 pt-12;
    }

    .menu {
        @apply sticky top-12 text-right;
    }
    .menu a {
        @apply whitespace-nowrap relative;
    }

    .card {
        @apply p-12;
    }
    .card .card-title {
        @apply text-tropical_teal pb-12;
    }
    .card .card-title h2 {
        @apply text-3xl;
    }
    .card .card-title h4 {
        @apply text-base;
    }
    .card .card-body {
        @apply leading-loose;
    }

    .card a {
        @apply text-tropical_teal hover:text-neon_ice underline underline-offset-4 transition-all;
    }

    .card dt {
        @apply mb-1;
    }
    .card dd,
    .card blockquote,
    .card p {
        @apply mb-4 last:mb-0 text-pretty;
    }

    .card .btn {
        @apply py-1 px-2 border rounded text-tropical_teal bg-space_indigo outline-none border-none;
        @apply transition-all duration-150 flex items-center no-underline;
        @apply hover:bg-tropical_teal hover:text-space_indigo;
    }

    /* Selection colors for both themes */
    ::selection {
        @apply bg-tropical_teal text-prussian_blue;
    }
}
